* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.tool-container {
  height: 5rem;
  background-color: #114b5f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tool-priority-container {
  height: 80%;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px;
}

.color {
  height: 80%;
  width: 10rem;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color:hover {
  background-color: gray;
}

.turquoise {
  background-color: #81f4e1;
}
.skyaqua {
  background-color: #56cbf9;
}
.rosekiss {
  background-color: #ff729f;
}
.thistle {
  background-color: #d3c4d1;
}

.tool-btn-container {
  height: 80%;
  width: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.add-btn,
.remove-btn {
  height: 80%;
  width: 80%;
  font-size: 2.5rem;
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px grey solid;
  border-radius: 5px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.ticket-container {
  height: 18rem;
  width: 15rem;
  color: white;
  margin: 10px;
  position: relative;
  display: none;
}

.ticket-container-active {
  display : flex;
  flex-direction: column;
}

.ticket-container > * {
  margin: 5px;
  font-size: large;
}
.ticket-container > .lock-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.modal-body {
  height: 50vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body > textarea {
  height: 100%;
  width: 60%;
  resize: none;
  font-size: large;
  border: none;
  padding: 10px;
}

.modal-priority-container {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: whitesmoke;
}

.priority-color {
  height: 2.5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.priority-color:hover {
  background-color: gray;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);

  /* Centering logic */
  display: none;
  justify-content: center; /* Horizontal center */
  align-items: center; /* Vertical center */
}

.modal-container {
  position: relative;
  /* overflow: visible;  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close-modal {
  position: absolute;
  top: -20px; /* Push it up past the top border */
  right: -20px; /* Push it right past the side border */
  cursor: pointer;
  font-size: 1.2rem;
}

.modal-header {
  height: 20%rem;
  width: 100%;
  background-color: #114b5f;
  color: white;
  text-align: center;
}
.modal-footer {
  height: 20%rem;
  width: 100%;
  background-color: #114b5f;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}

.modal-footer > * {
  margin: 1rem 0.5rem;
  padding: 0.5rem;
}

.add-btn:hover, .remove-btn:hover{
    background-color: gray;
    color: white;
}
.remove-btn-active:hover{
    background-color: gray;
    color: red;
}

.remove-btn-active{
    color : red;
}
